<!-- Go Shop Navbar Component -->
<header class="c-header">
  <div class="c-header-bg"></div>
  <div class="o-container">
    <div class="c-header-inner">
      <!-- Left Section -->
      <div class="c-header_lt">
        <a href="recipes-hub.html" class="c-nav-link w-inline-block">
          <div class="c-nav-link_hover w-embed">
            <svg width="100%" height="1em" preserveAspectRatio="none" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.735352" y="3.8916" width="56" height="12" transform="rotate(-3 0.735352 3.8916)" fill="currentColor"/>
            </svg>
          </div>
          <div z-5="">Shop</div>
        </a>
      </div>
      
      <!-- Center Section - Logo -->
      <div class="c-header_center">
        <a aria-label="Go Shop Logo" href="/" aria-current="page" class="c-logo-link w-inline-block w--current">
          <div class="c-logo w-embed">
            <img src="src/images/logo.png" alt="Go Shop Logo" width="124" height="39" style="width: 100%; height: auto;" />
          </div>
        </a>
      </div>
      
      <!-- Right Section -->
      <div class="c-header_rt">
        <!-- Orders Dropdown -->
        <div class="c-dd-link">
          <div class="c-nav-link_hover-clone w-embed">
            <svg width="100%" height="1em" preserveAspectRatio="none" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.735352" y="3.8916" width="56" height="12" transform="rotate(-3 0.735352 3.8916)" fill="currentColor"/>
            </svg>
          </div>
          <div class="c-nav-link_hover w-embed">
            <svg width="100%" height="1em" preserveAspectRatio="none" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.735352" y="3.8916" width="56" height="12" transform="rotate(-3 0.735352 3.8916)" fill="currentColor"/>
            </svg>
          </div>
          <div z-5="">Orders</div>
          <div class="c-dd-list recipes">
            <div class="c-dd-list-bg"></div>
            <div class="c-header_dd-wrap learn w-dyn-list">
              <div role="list" class="c-header_dd recipes w-dyn-items">
                <div role="listitem" class="c-dd-item w-dyn-item">
                  <a href="#" class="c-dd-item-link w-inline-block">
                    <div class="c-img-contain dd-thumb"></div>
                    <div class="c-dd-item_bt">
                      <div class="t-body-3 is-bold">Order Now</div>
                    </div>
                  </a>
                </div>
                <div role="listitem" class="c-dd-item w-dyn-item">
                  <a href="#" class="c-dd-item-link w-inline-block">
                    <div class="c-img-contain dd-thumb"></div>
                    <div class="c-dd-item_bt">
                      <div class="t-body-3 is-bold">Your History</div>
                    </div>
                  </a>
                </div>
                <div role="listitem" class="c-dd-item w-dyn-item">
                  <a href="#" class="c-dd-item-link w-inline-block">
                    <div class="c-img-contain dd-thumb"></div>
                    <div class="c-dd-item_bt">
                      <div class="t-body-3 is-bold">Coupons</div>
                    </div>
                  </a>
                </div>
                <div role="listitem" class="c-dd-item w-dyn-item">
                  <a href="#" class="c-dd-item-link w-inline-block">
                    <div class="c-img-contain dd-thumb"></div>
                    <div class="c-dd-item_bt">
                      <div class="t-body-3 is-bold">Deals</div>
                    </div>
                  </a>
                </div>
                <div role="listitem" class="c-dd-item w-dyn-item">
                  <a href="#" class="c-dd-item-link w-inline-block">
                    <div class="c-img-contain dd-thumb"></div>
                    <div class="c-dd-item_bt">
                      <div class="t-body-3 is-bold">Contact US</div>
                    </div>
                  </a>
                </div>
                <div role="listitem" class="c-dd-item w-dyn-item">
                  <a href="#" class="c-dd-item-link w-inline-block">
                    <div class="c-img-contain dd-thumb"></div>
                    <div class="c-dd-item_bt">
                      <div class="t-body-3 is-bold">Follow Us</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="hide">
              <a href="/recipes-hub" class="c-dd-item all-recipes w-inline-block">
                <div class="t-body-2 is-bold">Track Orders</div>
              </a>
            </div>
          </div>
        </div>
        
        <!-- About Dropdown -->
        <div class="c-dd-link">
          <div class="c-nav-link_hover-clone w-embed">
            <svg width="100%" height="1em" preserveAspectRatio="none" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.735352" y="3.8916" width="56" height="12" transform="rotate(-3 0.735352 3.8916)" fill="currentColor"/>
            </svg>
          </div>
          <div class="c-nav-link_hover w-embed">
            <svg width="100%" height="1em" preserveAspectRatio="none" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.735352" y="3.8916" width="56" height="12" transform="rotate(-3 0.735352 3.8916)" fill="currentColor"/>
            </svg>
          </div>
          <div z-5="">About</div>
          <div class="c-dd-list learn">
            <div class="c-dd-list-bg"></div>
            <div class="c-dd-item learn">
              <a href="/learn/our-wraps" class="c-dd-item-link w-inline-block">
                <div class="c-img-contain dd-thumb learn"></div>
                <div class="c-dd-item_bt">
                  <div class="t-body-2 is-bold">Go-Shop</div>
                </div>
              </a>
            </div>
            <div class="c-dd-item learn">
              <a href="/learn/why-egg-whites" class="c-dd-item-link w-inline-block">
                <div class="c-img-contain dd-thumb learn"></div>
                <div class="c-dd-item_bt">
                  <div class="t-body-2 is-bold">Why Go-Shop</div>
                </div>
              </a>
            </div>
            <div class="c-dd-item learn">
              <a href="/learn/faq" class="c-dd-item-link w-inline-block">
                <div class="c-img-contain dd-thumb learn"></div>
                <div class="c-dd-item_bt">
                  <div class="t-body-2 is-bold">FAQs</div>
                </div>
              </a>
            </div>
            <div class="c-dd-item learn">
              <a href="/learn/why-we-do-it" class="c-dd-item-link w-inline-block">
                <div class="c-img-contain dd-thumb learn"></div>
                <div class="c-dd-item_bt">
                  <div class="t-body-2 is-bold">Why we do it</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        
        <!-- Shop Icons -->
        <div class="c-nav-shop-wrap">
          <a aria-label="Profile" href="#" class="c-nav-shop w-inline-block">
            <div class="c-icon w-embed">
              <svg width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.3333 20V18.6666C17.3333 17.9594 17.0524 17.2811 16.5523 16.781C16.0522 16.281 15.3739 16 14.6667 16H9.3334C8.62616 16 7.94788 16.281 7.44779 16.781C6.9477 17.2811 6.66675 17.9594 6.66675 18.6666V20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 13.3333C13.4728 13.3333 14.6667 12.1394 14.6667 10.6666C14.6667 9.1939 13.4728 8 12 8C10.5273 8 9.33337 9.1939 9.33337 10.6666C9.33337 12.1394 10.5273 13.3333 12 13.3333Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.973 22.2441C17.4959 22.2441 21.973 17.767 21.973 12.2441C21.973 6.72129 17.4959 2.24414 11.973 2.24414C6.45017 2.24414 1.97302 6.72129 1.97302 12.2441C1.97302 17.767 6.45017 22.2441 11.973 22.2441Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a aria-label="Cart" href="#" class="c-nav-shop w-inline-block">
            <div class="c-icon w-embed">
              <svg width="1.5625em" height="1.5em" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.91456 1.98022L3.91248 5.94062V19.802C3.91248 20.3272 4.12334 20.8309 4.49867 21.2022C4.874 21.5736 5.38306 21.7822 5.91387 21.7822H19.9236C20.4544 21.7822 20.9635 21.5736 21.3388 21.2022C21.7141 20.8309 21.925 20.3272 21.925 19.802V5.94062L18.9229 1.98022H6.91456Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.91248 5.94067H21.925" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.9216 9.90088C16.9216 10.9512 16.4999 11.9586 15.7492 12.7013C14.9985 13.444 13.9804 13.8613 12.9188 13.8613C11.8572 13.8613 10.8391 13.444 10.0884 12.7013C9.33774 11.9586 8.91602 10.9512 8.91602 9.90088" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="c-nav-shop_num hide"></div>
          </a>
        </div>
      </div>
      
      <!-- Mobile Menu Button -->
      <div class="c-nav-btn">
        <div class="c-nav-icon w-embed">
          <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M38.1818 21.6667C38.1818 32.4444 29.6345 40 19.0909 40C8.54729 40 0 31.5556 0 21.6667C0 11.7778 8.54729 0 19.0909 0C29.6345 0 38.1818 10.8889 38.1818 21.6667Z" fill="#F4F2E6"/>
            <path d="M13 17H25" stroke="#303A4D" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13 23H25" stroke="#303A4D" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Mobile Header -->
  <div class="c-header-mobile">
    <div class="c-header-mobile_top">
      <a aria-label="Go Shop Logo" href="/" aria-current="page" class="c-logo-link w-inline-block w--current">
        <div class="c-logo w-embed">
          <img src="src/images/logo.png" alt="Go Shop Logo" width="124" height="39" style="width: 100%; height: auto;" />
        </div>
      </a>
      <div class="c-header-mobile_rt">
        <a aria-label="Profile" href="#" class="c-nav-shop mobile w-inline-block">
          <div class="c-icon w-embed">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.8094 13.7145V12.7622C11.8094 12.257 11.6087 11.7725 11.2515 11.4153C10.8943 11.0581 10.4098 10.8574 9.90468 10.8574H6.09518C5.59001 10.8574 5.10553 11.0581 4.74832 11.4153C4.39111 11.7725 4.19043 12.257 4.19043 12.7622V13.7145" stroke="#303A4D" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.99996 8.95256C9.05193 8.95256 9.90471 8.09978 9.90471 7.04781C9.90471 5.99585 9.05193 5.14307 7.99996 5.14307C6.948 5.14307 6.09521 5.99585 6.09521 7.04781C6.09521 8.09978 6.948 8.95256 7.99996 8.95256Z" stroke="#303A4D" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.98075 15.3175C11.9256 15.3175 15.1236 12.1195 15.1236 8.1746C15.1236 4.2297 11.9256 1.03174 7.98075 1.03174C4.03586 1.03174 0.837891 4.2297 0.837891 8.1746C0.837891 12.1195 4.03586 15.3175 7.98075 15.3175Z" stroke="#303A4D" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </a>
        <a aria-label="Cart" href="#" class="c-nav-shop mobile w-inline-block">
          <div class="c-icon w-embed">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.71415 0.857422L1.57129 3.71456V13.7146C1.57129 14.0934 1.7218 14.4568 1.98971 14.7247C2.25762 14.9926 2.62098 15.1431 2.99986 15.1431H12.9999C13.3787 15.1431 13.7421 14.9926 14.01 14.7247C14.2779 14.4568 14.4284 14.0934 14.4284 13.7146V3.71456L12.2856 0.857422H3.71415Z" stroke="#303A4D" stroke-width="1.44286" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.57129 3.71436H14.4284" stroke="#303A4D" stroke-width="1.44286" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10.8569 6.57178C10.8569 7.32954 10.5558 8.05626 10.02 8.59208C9.48421 9.1279 8.75748 9.42892 7.99972 9.42892C7.24196 9.42892 6.51523 9.1279 5.97942 8.59208C5.4436 8.05626 5.14258 7.32954 5.14258 6.57178" stroke="#303A4D" stroke-width="1.44286" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="c-nav-shop_num mobile hide"></div>
        </a>
        <div class="c-nav-btn">
          <div class="c-nav-close w-embed">
            <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M38.1818 21.6667C38.1818 32.4444 29.6345 40 19.0909 40C8.54729 40 0 31.5556 0 21.6667C0 11.7778 8.54729 0 19.0909 0C29.6345 0 38.1818 10.8889 38.1818 21.6667Z" fill="white"/>
              <path d="M23 16L15 24" stroke="#303A4D" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 16L23 24" stroke="#303A4D" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Mobile Bottom Navigation -->
    <div class="c-header-mobile_bt">
      <a href="recipes-hub.html" class="c-nav-link w-inline-block">
        <div class="c-nav-link_hover w-embed">
          <svg width="100%" height="1em" preserveAspectRatio="none" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.735352" y="3.8916" width="56" height="12" transform="rotate(-3 0.735352 3.8916)" fill="currentColor"/>
          </svg>
        </div>
        <div class="t-display-2 nav-mobile">Shop</div>
      </a>
      
      <div class="c-dd-link-mobile">
        <div class="c-dd-link-mobile-inner">
          <div class="t-display-2 nav-mobile">Orders</div>
          <div class="c-icon dd-icon w-embed">
            <svg width="1em" height="1em" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.5 2.6665L12.5 21.3332" stroke="#303A4D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22.125 12L12.5 21.3333L2.875 12" stroke="#303A4D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
        <div class="c-dd-list mobile">
          <div class="c-header_dd-wrap learn w-dyn-list">
            <div role="list" class="c-header_dd recipes w-dyn-items">
              <div role="listitem" class="c-dd-item w-dyn-item">
                <a href="#" class="c-dd-item-link w-inline-block">
                  <div class="c-img-contain dd-thumb">
                    <img src="https://cdn.prod.website-files.com/6448cbe9ce99d3872617fb9c/6448cbe9ce99d33dfc17fc36_breakfast.webp" loading="eager" alt="" class="c-img"/>
                  </div>
                  <div class="c-dd-item_bt">
                    <div class="t-body-3 is-bold">Order Now</div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="c-dd-item w-dyn-item">
                <a href="#" class="c-dd-item-link w-inline-block">
                  <div class="c-img-contain dd-thumb">
                    <img src="https://cdn.prod.website-files.com/6448cbe9ce99d3872617fb9c/6448cbe9ce99d308e617fc18_Lunch.webp" loading="eager" alt="" class="c-img"/>
                  </div>
                  <div class="c-dd-item_bt">
                    <div class="t-body-3 is-bold">Your History</div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="c-dd-item w-dyn-item">
                <a href="#" class="c-dd-item-link w-inline-block">
                  <div class="c-img-contain dd-thumb">
                    <img src="https://cdn.prod.website-files.com/6448cbe9ce99d3872617fb9c/6448cbe9ce99d3832b17fc4b_Dinner.webp" loading="eager" alt="" class="c-img"/>
                  </div>
                  <div class="c-dd-item_bt">
                    <div class="t-body-3 is-bold">Coupons</div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="c-dd-item w-dyn-item">
                <a href="#" class="c-dd-item-link w-inline-block">
                  <div class="c-img-contain dd-thumb">
                    <img src="https://cdn.prod.website-files.com/6448cbe9ce99d3872617fb9c/6448cbe9ce99d37d6017fbfa_Snacks.webp" loading="eager" alt="" class="c-img"/>
                  </div>
                  <div class="c-dd-item_bt">
                    <div class="t-body-3 is-bold">Deals</div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="c-dd-item w-dyn-item">
                <a href="#" class="c-dd-item-link w-inline-block">
                  <div class="c-img-contain dd-thumb">
                    <img src="https://cdn.prod.website-files.com/6448cbe9ce99d3872617fb9c/6448cbe9ce99d37d6017fbfa_Snacks.webp" loading="eager" alt="" class="c-img"/>
                  </div>
                  <div class="c-dd-item_bt">
                    <div class="t-body-3 is-bold">Contact US</div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="c-dd-item w-dyn-item">
                <a href="#" class="c-dd-item-link w-inline-block">
                  <div class="c-img-contain dd-thumb">
                    <img src="https://cdn.prod.website-files.com/6448cbe9ce99d3872617fb9c/6448cbe9ce99d37d6017fbfa_Snacks.webp" loading="eager" alt="" class="c-img"/>
                  </div>
                  <div class="c-dd-item_bt">
                    <div class="t-body-3 is-bold">Follow Us</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="c-dd-link-mobile">
        <div class="c-dd-link-mobile-inner">
          <div class="t-display-2 nav-mobile">About</div>
          <div class="c-icon dd-icon w-embed">
            <svg width="1em" height="1em" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.5 2.6665L12.5 21.3332" stroke="#303A4D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22.125 12L12.5 21.3333L2.875 12" stroke="#303A4D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
        <div class="c-dd-list mobile">
          <div class="c-dd-list-inner">
            <div class="c-dd-item learn">
              <a href="/learn/our-wraps" class="c-dd-item-link w-inline-block">
                <div class="c-img-contain dd-thumb learn"></div>
                <div class="c-dd-item_bt">
                  <div class="t-body-2 is-bold">Go-Shop</div>
                </div>
              </a>
            </div>
            <div class="c-dd-item learn">
              <a href="/learn/why-egg-whites" class="c-dd-item-link w-inline-block">
                <div class="c-img-contain dd-thumb learn"></div>
                <div class="c-dd-item_bt">
                  <div class="t-body-2 is-bold">Why Go-Shop</div>
                </div>
              </a>
            </div>
            <div class="c-dd-item learn">
              <a href="/learn/faq" class="c-dd-item-link w-inline-block">
                <div class="c-img-contain dd-thumb learn"></div>
                <div class="c-dd-item_bt">
                  <div class="t-body-2 is-bold">FAQs</div>
                </div>
              </a>
            </div>
            <div class="c-dd-item learn">
              <a href="/learn/why-we-do-it" class="c-dd-item-link w-inline-block">
                <div class="c-img-contain dd-thumb learn"></div>
                <div class="c-dd-item_bt">
                  <div class="t-body-2 is-bold">Why we do it</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
